<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerAddress" value="" />
		<add key="ServerName" value="" />
		<add key="Database" value="" />
		<add key="User" value="" />
		<add key="Password" value="" />
		<add key="key" value="kk3zd3HAIZjiZnDUhuU9OMASs4eljyPBZ1WbFdgC3UE=" />
		<add key="iv" value="4ITbLvvo3BWGObJRFH4wDg==" />
	</appSettings>
</configuration>